---
import Layout from '../layouts/Layout.astro';
import LayoutFrame from '../layouts/LayoutFrame.astro';
---

<Layout>
  <LayoutFrame>
		<div class="flex items-center justify-center w-full h-full">
			<span>This is the index page</span>
		</div>
  </LayoutFrame>
	<LayoutFrame>
		<div class="flex items-center justify-center w-full h-full">
			<span>This is the index page</span>
		</div>
  </LayoutFrame>
	<LayoutFrame>
		<div class="flex items-center justify-center w-full h-full">
			<span>This is the index page</span>
		</div>
  </LayoutFrame>
</Layout>
