---
---

<footer>
  <div class="fixed bottom-10 left-12 right-12 flex justify-between items-center py-0.5 px-3">
    <div />
    <nav class="text-sm">
      <ul class="flex space-x-4">
        <li><a href="/privacy" class="hover:underline">Privacy Policy</a></li>
        <li><a href="/terms" class="hover:underline">Terms of Service</a></li>
      </ul>
    </nav>
  </div>
</footer>