<div class="fixed w-screen h-screen z-0">
    <!-- Top Left -->
  <div class="absolute top-11 left-11 w-4 h-4 border-t border-l"></div>
  
  <!-- Top Right -->
  <div class="absolute top-11 right-11 w-4 h-4 border-t border-r"></div>
  
  <!-- Bottom Left -->
  <div class="absolute bottom-11 left-11 w-4 h-4 border-b border-l"></div>
  
  <!-- Bottom Right -->
  <div class="absolute bottom-11 right-11 w-4 h-4 border-b border-r"></div>
</div>