<div class="fixed w-screen h-screen z-0">
    <!-- Top Left -->
  <div class="absolute top-7 left-7 w-6 h-6 border-t border-l"></div>
  
  <!-- Top Right -->
  <div class="absolute top-7 right-7 w-6 h-6 border-t border-r"></div>
  
  <!-- Bottom Left -->
  <div class="absolute bottom-7 left-7 w-6 h-6 border-b border-l"></div>
  
  <!-- Bottom Right -->
  <div class="absolute bottom-7 right-7 w-6 h-6 border-b border-r"></div>
</div>