---
---

<footer>
  <div class="fixed bottom-11 left-11 right-11 flex justify-between items-center px-8 py-3.5">
    <div />
    <nav class="text-sm">
      <ul class="flex space-x-4">
        <li><a href="/privacy" class="hover:underline">Privacy Policy</a></li>
        <li><a href="/terms" class="hover:underline">Terms of Service</a></li>
      </ul>
    </nav>
  </div>
</footer>