---
import Layout from '../../layouts/Layout.astro';
import LayoutFrame from '../../layouts/LayoutFrame.astro';
import BlogPostCard from '../../components/blog/BlogPostCard.astro';
import { fetchAllBlogPosts } from '../../lib/requests';

const blogPosts = await fetchAllBlogPosts();
---

<Layout>
  <LayoutFrame>
    <div>
      
    </div>
    <div  class="columns-xs gap-10 space-y-10 w-full h-full overflow-x-auto"> 
      {blogPosts.data.map(post => (
        <BlogPostCard blogPost={post} className="break-inside-avoid" />
      ))}
    </div>
  </LayoutFrame>
</Layout>
