---
import AnimatedLogo from '../preact/AnimatedLogo.tsx';
import Menu from '../preact/Menu.tsx';
import ThemeToggle from '../preact/ThemeToggle';
---

<header class="fixed top-11 left-11 right-11 h-14 px-2 pt-2 flex justify-between z-10">
  <div>
    <AnimatedLogo client:only="preact" className="pl-2 text-base" />
  </div>
  <div class="pr-2">
    <Menu client:only="preact" />
    <ThemeToggle client:only="preact" />
  </div>
</header>
