---
import { fetchAllSocialNetworks } from "../../lib/requests"

const socialNetworks = await fetchAllSocialNetworks();
---

<footer>
  <div class="fixed bottom-11 left-11 right-11 flex justify-between items-center px-8 py-3.5">
    <div />
    <nav class="text-sm">
      <ul class="flex space-x-4">
        {socialNetworks.data.map((network) => (
          <li>
            <a href={network.url} target="_blank" rel="noopener noreferrer" class="hover:underline">
              <i class={network.icon}></i> 
              <span class="sr-only">{network.title}</span>
            </a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</footer>