---
import AnimatedLogo from '../preact/AnimatedLogo.tsx';
import Menu from '../preact/Menu.tsx';
import ThemeToggle from '../preact/ThemeToggle';
---

<header class="fixed top-0 left-0 right-0 h-14 px-8 pt-6 flex justify-between z-10">
  <div>
    <AnimatedLogo client:only="preact" className="pl-2 text-lg" />
  </div>
  <div class="pr-2">
    <Menu client:only="preact" />
    <ThemeToggle client:only="preact" />
  </div>
</header>
