<div class="fixed w-screen h-screen z-0">
  <div
    class="absolute h-full w-full bg-[radial-gradient(var(--gruvbox-bg0)_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
    style="--gruvbox-bg0: var(--color-gruvbox-bg2);"
  >
  </div>
</div>
