---
import PageContent from "../components/PageContent.astro";
import PageFooter from "../components/PageFooter.astro";
import PageFrame from "../components/PageFrame.astro";
import PageHeader from "../components/PageHeader.astro";
import ContactForm from "../components/preact/ContactForm";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		<!-- Theme Switcher -->
		<script>
			(() => {
				const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
				const storedTheme = localStorage.getItem("theme");

				const theme =
				storedTheme === "dark" || (!storedTheme && prefersDark) ? "dark" : "light";

				document.documentElement.setAttribute("data-theme", theme);
			})();
		</script>
		<!-- Theme Switcher -->
	</head>
	<body>
		<ContactForm client:only="preact" />
		<PageFrame />
		<PageHeader />
		<PageContent>
				<slot />
		</PageContent>
		<PageFooter />
		
		<!-- LayoutFrame Fader -->
		<script>
			const observer = new IntersectionObserver(
				(entries) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							entry.target.classList.add("opacity-100");
							entry.target.classList.remove("opacity-0");
						} else {
							entry.target.classList.add("opacity-0");
							entry.target.classList.remove("opacity-100");
						}
					});
				},
				{ threshold: 0.6 } // frame is active if 60% visible
			);

			document.querySelectorAll("[data-frame]").forEach((el) =>
				observer.observe(el)
			);
		</script>
		<script src="https://kit.fontawesome.com/1aad4926f4.js" crossorigin="anonymous"></script>
		<!-- LayoutFrame Fader -->
	</body>
</html>
